.text-pry {
  color: #e2e6e3;
}

.bg-pry {
  background: #e2e6e3;
}

.txt-gray {
  color: #3d3f3c;
}

.txt-dark-pry {
  color: #4b5648;
}

.bg-gray {
  background-color: #3d3f3c;
}

.bg-dark-pry {
  background-color: #4b5648;
}

.btn.bg-dark-pry:hover {
  background-color: #3d3f3c;
}

.bg-item {
  background: #fdfdfd;
}

.btn-dark-pry {
  background: #4b5648;
  color: #fff;
  transition: 300ms ease;
}

.btn-dark-pry:hover {
  background: #fff;
  color: #4b5648;
}

.btn-light-pry {
  background: #fff;
  color: #4b5648;
}

.btn-light-pry:hover {
  background: #4b5648;
  color: #fff;
}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

body {
  background: #fcfcfa;
}

.loading-component {
  height: 100vh;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-brand {
  letter-spacing: 8px;
  font-size: 24px;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline-color: #4b5648;
}

.select {
  width: 200px;
}

.products {
  margin-top: 78px;
}

.products .img-container img {
  height: 100%;
  object-fit: cover;
  width: 80px;
  height: 110px;
}

.products h4 {
  font-size: 20px;
}

.cart-overlay {
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
}

.cart-overlay .cart {
  width: 90%;
  margin-top: 5vh;
  margin-left: 5%;
  height: calc(90vh);
  overflow: scroll;
  background: #f2f3f0;
}

@media screen and (min-width: 768px) {
  .cart-overlay .cart {
    width: 50%;
    margin-top: 0;
    margin-left: 50%;
    height: 100vh;
  }
}

@media screen and (min-width: 1440px) {
  .cart-overlay .cart {
    width: 40%;
    margin-left: 60%;
  }
}

.cart-overlay .cart .cart__items-header .left {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #4b5648;
}

.cart-overlay .cart .select {
  width: 140px;
}

.cart-overlay .cart .cart__items-list .item {
  height: 150px;
  position: relative;
}

.cart-overlay .cart .cart__items-list .item .count span {
  width: 30px;
  padding: 5px;
  text-align: center;
}

.cart-overlay .cart .cart__items-list .item img {
  max-height: 40px;
  width: auto;
  object-fit: cover;
}

.cart-overlay .cart .cart__items-list .item .close {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 16px;
}

.cart-overlay .cart .result {
  border-top: 3px solid #4b5648;
  margin-top: 80px;
}

.cart-overlay .cart .result button {
  letter-spacing: 2px;
}
